*{
    margin: 0;
    padding: 0;
}
.container{
    font-family: 'Catamaran', sans-serif;
}

.header1{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 60px;
}
.yuxarihisse{
    background-color: #F1F5F8;
    width: 100vw;
    height: 70vh;
}

img{
border-radius: 20px;
padding: 10px;
width: 250px;
height: 250px;
}

.image{
width: 300px;
border-radius: 20px;
}

button{
background-color: rgb(56, 158, 25);
color: aliceblue;
width: 100px;
height: 20px;
border: none;
border-radius: 5px;
margin-top: 15px;
}

button:hover{
    background-color: rgb(156, 247, 20);
}

.check{
    color: green;
    margin-left: 10px;
    font-family: 'Grand Hotel', cursive;
}
.header{
margin-left: 3%;
padding: 10px;
}
h1{
    margin-top: 20px;
}

.box2{
    border: 1px solid #F1F5F8;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    background-color: #F1F5F8;
    transform: scale(1);
}

.box2:hover{
width: 400px;
height: 400px;
}

.footer1{
    text-align: center;
}

.footer{
    display: flex;
    justify-content: space-around;
}

i{
    font-size: 30px;
}

@media only screen and (max-width:991px){
    body{
        margin: 0 auto;
    }
    .container{
        display: block;
    }
    .box1{
        display: block;
    }
}

@media only screen and (max-width:768px){
    body{
        margin: 0 auto;
    }
    .container{
        display: block;
        height: 100%;
        width: 100%;
    }
    .box1{
        display: block;
    }
}
